<div class="initialDiv">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/">Home</a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/recipes">Recipes</a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/recipes/add">Add New Recipe</a>
          </li>
        </ul>
      </div>
      

      <router-outlet></router-outlet>
    </div>
  </div>
</div>