.headingBorder {
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: indigo ;
    padding: 10px;
    margin-top: 15px;
}
.headingTextSize {
    font-weight: bold;
    color: teal;
    text-align: center;
}